.fondo{
	float: left;
	background-image: url("http://www.opciones24option.com.ar/wp-content/uploads/2017/03/indicadores-grafico-tecnico-1024x640.jpg");
	width: 100%;
	height: 90vh;
	background-repeat: no-repeat;
	background-size: cover;
	clear: both;
	display: flex;
	align-items: center;
	text-align: center;
}

.relativo{
	width: 850px;
	margin: 0 auto 0 auto;
}

.relativo h3 {
	margin-bottom: 40px;
	font-size: 5em;
	font-family: 'Averia Serif Libre', cursive;
	text-shadow: 5px 5px 5px lightgray;
	color: black;
}

.relativo button{
	border-radius: 5px;
	text-decoration: none;
	color: black;
	border: solid 1px white;
	font-weight: bolder;
	padding: 12px 35px;
	background: white;
	transition: 1s;
}

.relativo button:hover{
	border: 2px solid black;
	transition: 1s;
}