.alert{
	text-align: center;
}

h4{
	font-size: 40px;
}

button{
	border-radius: 5px;
	text-decoration: none;
	color: white;
	border: solid 1px lightgreen;
	font-weight: bolder;
	padding: 12px 35px;
	background: green;
	transition: 1s;
}

button:hover{
	border: 2px solid black;
	background-color: white;
	color: green;
	transition: 1s;
}