h1 {
	text-align: center;
	font-weight: bold;	
}

.display-3, .lead, .botonIngreso, #botonEntrada, #botonCuenta,#botonIndicador,#botonMetodologia,#encabezados{
	text-align: center;
	font-weight: bold;

}
.display-3{
	color: blue;
	font-weight: 500;
	
}

.lead{
	font-weight: bold;
}
#ventanaBase{
	background-image: url(../images/invierto.jpg)

}

#ventanaInicio{
	background-image: url(../../images/invierto.jpg)
}

