<!DOCTYPE html>
<html>
<head>
	<title>Aplicar metodologia</title>
</head>
<body>
<h1> APLICAR METODOLOGIA</h1>

<h3>Metodologia <select>
	<option> Metodologia1</option>
	<option>Metodologia2</option>
</select></h3>

<input type="text" name="NT" style="width: 700px; height: 150px">

<input type="text" name="T" style="width: 700px; height: 150px">

<input type="text" name="Res" style="width: 700px; height: 150px">

<h3>Empresas a analizar <input type="text" name="empresas" style="width: 700px; height: 150px"></h3>

<button> Aplicar</button>
<button> Atras</button>
</body>
</html>