<!DOCTYPE html>
<html>
<head>
	<title>Aplicar indicadores</title>
</head>
<body>
<h1>APLICAR INDICADORES</h1>
<h3>Periodo <select>
	<option> periodo</option>
</select>
</h3>

<h3>Indicador <select>
	<option> indicador</option>
</select>
</h3>

<h3> Empresas <input type="text" name="empresas" style="width: 700px; height: 150px"> </h3>

<h3> Resultado <input type="text" name="resultado"></h3>

<button> Calcular</button>

<button> Atras</button>
</body>
</html>