<!DOCTYPE html>
<html>
<head>
	<title>Aplicar Indicadores</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
	<link rel="stylesheet"  href="style.css">
</head>
<body>
<h1>APLICAR INDICADORES</h1>


<div class="form-group">
	<form role="form" action="/inicio/indicador/resultadoIndicador" method="POST">
		<select name="empresaSeleccionada" class="custom-select">
			<option value="-1">Seleccionar Empresa</option>
			{{#each empresas}}
			<option value= {{nombreEmpresa}}> {{nombreEmpresa}}</option>
			{{/each}}
		</select>
		
		<select name="indicadorSeleccionado" class="custom-select">
			<option value="-1">Seleccionar Indicador</option>
			{{#each indicadores}}
			<option value= {{nombreIndicador}}> {{nombreIndicador}}</option>
			{{/each}}
		</select>
		
		<select name="periodoSeleccionado" class="custom-select">
			<option value="-1">Seleccionar periodo</option>
			<option value="2016">2016</option>
			<option value="2015">2015</option>
			<option value="2014">2014</option>
			<option value="2013">2013</option>
			<option value="2012">2012</option>
			
			
		</select>
		
		<button  type="submit" class="btn btn-primary">Ver Resultado</button>
	</form>
	</div>


</body>
</html>