<!DOCTYPE html>
<html>
<head>
	<title>Aplicar Indicadores</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
	<link rel="stylesheet"  href="css/style.css">
</head>
<body>
<h1>APLICAR INDICADORES</h1>
<h3>Periodo <select>
	<option> periodo</option>
</select>
</h3>

<h3>Indicador <select>
	<option> indicador</option>
</select>
</h3>

<h3> Empresas <input type="text" name="empresas" style="width: 700px; height: 150px"> </h3>

<h3> Resultado <input type="text" name="resultado"></h3>

<button> Calcular</button>

<button> Atras</button>
</body>
</html>