<!DOCTYPE html>
<html>
<head>
	<title>¿Dónde invierto?</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="style.css">

</head>
<body>

<div id="ventanaBase">
	
	<div class="encabezado">
		<form role="form" action="/inicio" method="POST">
  <h1 class="display-3">Bienvenido a "¿Donde invierto?"</h1>
  <p class="lead">Su solución en análisis de inversiones financieras</p>
  <hr class="my-4">
  <p class="botonIngreso">
    <button  type="submit" class="btn btn-primary">Ingresar > </button>
  </p>


</form>
</div>
</div>
