<!DOCTYPE html>
<html>
<head>
	<title>¿Dónde invierto?</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="css/base.css">
	<link href="https://fonts.googleapis.com/css?family=Cinzel" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Istok+Web" rel="stylesheet">

</head>
<body>
     <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <form role="form" action="/" method="GET">
              <button class="navbar-brand" style="border-color: transparent; background-color: transparent;">¿Dónde Invierto?</button>
          </form>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            
            <li class="nav-item">
            	 <form role="form" action="/inicioSesion" method="GET">
              <button class="nav-link" style="border-color: transparent; background-color: transparent;">Iniciar Sesión</button>
            </li>
        </form>
          </ul>
        </div>
      </div>
    </nav>
  <!-- Jumbotron Header -->
      <header class="jumbotron my-4" id="jumbotron">
        <h1 class="display-3"  style="font-weight: bolder;">Bienvenido a ¿Dónde Invierto?</h1>
        <p class="lead"  style="font-weight: bolder;" >Su solución en análisis de inversiones financieras</p>
      </header>

<section class="seccion">
			<div class = "container">
			<div class="row">
				<div class="col">
					<img src="/images/cuenta.jpg" class="imagenCuenta" width="350" height="350" alt="">	
				</div>
				<div class="col texto">
					<h2>Análisis de cuentas</h2>
					<p>Con esta aplicación, usted podrá visualizar los nombres y los valores asociados a cada una de las cuentas de una empresa determinada</p>
				</div>
			</div>
			</div>
		</section>
		<section class="seccion bg-light">
			<div class="container">
			<div class="row">
				<div class="col texto">
					<h2>Creación y aplicación de indicadores</h2>
					<p>Podrá crear distintos indicadores para poder analizar las empresas que usted desee</p>
				</div>
				<div class="col">
					<img src="/images/indicador.jpg" class="imagenIndicador" width="350" height="350" alt="">	
				</div>
			</div>				
			</div>
		</section>
		<section class="seccion">
			<div class= "container">
			<div class="row">
				<div class="col">
					<img src="/images/metodologia.jpg" class="imagenMetodologia" width="350" height="350" alt="">	
				</div>
				<div class="col texto">
					<h2>Creación y aplicación de metodologías </h2>
					<p>Podrá crear distintas metodologías utilizando los indicadores creados previamente y distintas condiciones posibles</p>
			</div>
			</div>
		</section>
	
</body>