<!DOCTYPE html>
<html>
<head>

	<h2>Empresa {{empresa.nombreEmpresa}}</h2>

	<title>Consultar cuenta</title>
	<title>Consultar valor de Cuenta</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
	<link rel="stylesheet"  href="style.css">

</head>
<body>



<div class="table-responsive">
	<table class="table">
		<tr>
			<th>Nombre Cuenta</th>
			<th>Valor Cuenta</th>
			
		</tr>
		{{#each cuentas}}
		<tr>
			<td>{{nombreCuenta}}</td>
			<td>{{valorCuenta}}</td>
			
		</tr>
		{{/each}}
	</table>
	</div>



<button class="btn btn-primary" type="submit"> Atras</button>
</body>
</html>