<!DOCTYPE html>
<html>
<head>

	<h2>Empresa {{empresa.nombreEmpresa}}</h2>
	<title>Consultar Valor de Cuenta</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
	<link rel="stylesheet"  href="../../../css/style.css">

</head>
<body>
<div id="consultarCuenta">
<div class="table-responsive">
	<table class="table">
		<tr>
			<th>Nombre Cuenta</th>
			<th>Valor Cuenta</th>
			
		</tr>
		{{#each cuentas}}
		<tr>
			<td>{{nombreCuenta}}</td>
			<td>{{valorCuenta}}</td>
			
		</tr>
		{{/each}}
	</table>
	</div>


<br>
	<form role="form" action="/inicio/cuenta" method="POST">
	<button type="submit" class="btn btn-danger"> << Atrás </button>
	</form>
</div>

</body>
</html>