<!DOCTYPE html>
<html>
<head>
	<h2>Empresa {{empresa.nombreEmpresa}}</h2>

	<title>Consultar cuenta</title>
</head>
<body>
<h1>CONSULTAR VALOR DE CUENTA</h1>
<h3> Empresas <input type="text" name="empresas" style="width: 700px; height: 150px"> </h3>
<h3> Periodos <input type="text" name="periodos" style="width: 700px; height: 150px"> </h3>
<button class="btn btn-primary" type="submit"> Atras</button>
</body>
</html>