<!DOCTYPE html>
<html>
<head>
	<title>Crear Cuenta</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
	<link rel="stylesheet"  href="../../../css/style.css">
</head>
<body>
	<div id="crearCuenta">
	<h1 id="encabezados" div class="p-3 mb-2 bg-dark text-white"> NUEVA CUENTA DE EMPRESA </h1>
	<h3> Nombre <input type="text" name="nombreCuenta"> </h3>
	<h3> Período <input type="text" name="periodoCuenta"> </h3>
	<h3> Valor <input type="text" name="valorCuenta"> </h3>
	<h3> Empresa <select id="selectEmpresa"> 
		<option>Empresa 1</option>
		<option>Empresa 2</option>
	</select>
	</h3>
	<button class="btn btn-success" type="submit"> Crear > </button>
	<button class="btn btn-primary" type="submit"> Otra empresa > </button>

	<br>
	<form role="form" action="/inicio/cuenta" method="POST">
	<button type="submit" class="btn btn-danger"> << Atrás </button>
	</form>

</div>
</body>
</html>