<!DOCTYPE html>
<html>
<head>
	<title>Crear metodología</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
	<link rel="stylesheet"  href="style.css">

<body>
<h1>NUEVA METODOLOGIA</h1>
<h3> Nombre <input type="text" name="nombreMetodologia"> </h3>
<h3> <button> Agregar condicion taxativa</button> <button>Borrar condicion seleccionada</button><input type="text" name="indicador" style="width: 700px; height: 150px"> </h3>

<h3> <button> Agregar condicion no taxativa</button> <button>Borrar condicion seleccionada</button><input type="text" name="indicador" style="width: 700px; height: 150px"> </h3>

<button> Crear metodologia</button>

<button class="btn btn-primary" type="submit"> Atras</button>
</body> 
</html>