<!DOCTYPE html>
<html>
<head>
	<title>Crear cuenta</title>
</head>
<body>
	<h1> NUEVA EMPRESA </h1>
	<h3> Nombre <input type="text" name="nombreCuenta"> </h3>
	<h3> Periodo <input type="text" name="periodoCuenta"> </h3>
	<h3> Valor <input type="text" name="valorCuenta"> </h3>
	<h3> Empresa <select id="selectEmpresa"> 
		<option>Empresa 1</option>
		<option>Empresa 2</option>
	</select>
	</h3>
	<button class="btn btn-primary" type="submit"> Crear</button>
	<button class="btn btn-primary" type="submit"> Otra empresa</button>

	<button class="btn btn-primary" type="submit"> Atras</button>
</body>
</html>