<!DOCTYPE html>
<html>
<head>
	<title>Cuentas</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
<div id="ventanaCuentas">
		<h1> Por favor seleccione una opción</h1>
	<button value="crearCuenta"> Crear cuenta > </button>
	<button value="consultarCuenta"> Consultar valor de cuenta > </button>
	<button value="atras"> Atrás > </button>

</div>
</body>
</html>