<!DOCTYPE html>
<html>
<head>
	<title>Cuenta</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="../../css/style.css">
</head>
<body>
<div id="ventanaCuentas">	
	<h1 div class="p-3 mb-2 bg-success text-white"> Cuenta </h1>
	<h2> <b> Por favor seleccione una opción: </b></h2>

	<form role="form" action="/inicio/cuenta/crearCuenta" method="POST">
	<button id="botonCuenta" type="submit" class="btn btn-outline-primary"> Crear cuenta > </button>
	</form>
	<br>
	<form role="form" action="/inicio/cuenta/consultarCuenta" method="POST">
	<button id="botonCuenta" type="submit" class="btn btn-outline-primary"> Consultar valor de cuenta > </button>
		</form>
		<br>
		<form role="form" action="/inicio" method="POST">
	<button type="submit" class="btn btn-danger"> << Atrás </button>
		</form>

	<div class="container">
		<h3>Seleccione una empresa</h3>
		
	<div class="form-group">
	<form role="form" action="/inicio/cuenta/consultarCuenta" method="POST">
		<select name="empresaSeleccionada" class="custom-select">
			<option value="-1">Seleccionar</option>
			{{#each empresas}}
			<option value= {{nombreEmpresa}}> {{nombreEmpresa}}</option>
			{{/each}}
		</select>
		<button  type="submit" class="btn btn-primary">Ver Cuentas</button>
	</form>
	</div>

	<img src="/images/cuenta.jpg" class="imagenCuenta" style="width:300px;height:150px;" align="right">	
</div>
</div>

</body>
</html>