<!DOCTYPE html>
<html>
<head>
	<title>Empresa</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="../../css/style.css">
</head>
<body>
<div id="ventanaDatosEmpresas">
	<h3> DATOS</h3>
	<button value="atras" type="button" class="btn btn-outline-secondary"> Atrás </button>
</div>
</body>
</html>