<!DOCTYPE html>
<html>
<head>
	<title>Indicador</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
<div id="ventanaIndicadores">
	<h1> Indicador</h1>

	<form role="form" action="/inicio/cuenta/crearIndicador" method="POST">
	<button value="crearIndicador"> Crear indicador</button>
	</form>

	<form role="form" action="/inicio/cuenta/aplicarIndicadores" method="POST">
	<button value="aplicarIndicadores"> Aplicar indicadores</button>
	</form>

	<button value="atras"> Atrás </button>

</div>
</body>
</html>