<!DOCTYPE html>
<html>
<head>
	<title>Inicio - Dónde Invierto</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="/css/inicio.css">
	<link href="https://fonts.googleapis.com/css?family=Patua+One" rel="stylesheet">
</head>
<body>

	<div class="fondo">
		<div class ="relativo">										
			<h3>¡Bienvenido/a {{usuario}}!</h3>
			<form role="form" action="/inicio/{{usuario}}" method="POST">
			<button id="botonEntrada" type="submit" class="btn btn-success">Comenzar </button>
	</form>
		</div>
	</div>

</body>
</html>