<!DOCTYPE html>
<html>
<head>
	<title>Inicio - Dónde Invierto</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
	<link rel="stylesheet"  href="../css/style.css">
</head>
<body>

<div id="ventanaInicio">

	<h1>  "Donde invierto"</h1>
	<form role="form" action="/inicio/cuenta" method="POST">
<button type="submit" class="btn btn-primary" value="cuenta"> Cuenta > </button>
	</form>
	<br>
	<form role="form" action="/inicio/indicador" method="POST">
<button type="submit" class="btn btn-primary" value="indicador"> Indicador > </button>
	</form>
	<br>
	<form role="form" action="/inicio/metodologia" method="POST">
<button type="submit" class="btn btn-primary" value="metodologia"> Metodologia > </button>
	</form>
	<br>
	<form role="form" action="/inicio/grafico" method="POST">
<button type="submit" class="btn btn-primary" value="visualizarGrafico"> Visualizar grafico > </button>
	</form>
	<br>
	<form role="form" action="/inicio/empresa" method="POST">
<button type="submit" class="btn btn-primary" value="verDatosEmpresas"> Ver datos de empresas > </button>
	</form>

</div>

</body>
</html>