<!DOCTYPE html>
<html>
<head>
	<title>¿Dónde invierto?</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="css/logFail.css">

</head>
<body>

<div class="alert alert-danger" role="alert">
  <h4 class="alert-heading">Error! Inicio de sesión incorrecto! </h4>
  <p><strong>Alguno de los datos ingresados son incorrectos</strong></p>
  <p class="mb-0">Por favor reintente nuevamente con datos válidos.</p>
</div>
   
<center>
<form role="form" action="/" method="GET">
	<button type="submit" class="btn btn-success"> << Regresar </button>
</form>
</center>

</body>
