<!DOCTYPE html>
<html>
<head>
	<title>Metodología</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="../../css/style.css">
</head>
<body>
<div id="ventanaMetodologias">
	<h1 div class="p-3 mb-2 bg-danger text-dark"> Metodología </h1>
	<h2> <b> Por favor seleccione una opción: </b></h2>
	<form role="form" action="/inicio/cuenta/crearMetodologia" method="POST">
	<button id="botonMetodologia" type="submit" class="btn btn-outline-primary"> Crear metodología > </button>
	</form>
<br>
	<form role="form" action="/inicio/cuenta/aplicarMetodologia" method="POST">
	<button id="botonMetodologia" type="submit" class="btn btn-outline-primary"> Aplicar metodología > </button>
	</form>

	<br>
	<form role="form" action="/inicio" method="POST">
	<button type="submit" class="btn btn-danger"> << Atrás </button>
	</form>

	<img src="/images/metodologia.jpg" class="imagenMetodologia" style="width:300px;height:150px;" align="right">	
</div>
</body>
</html>