<!DOCTYPE html>
<html>
<head>
	<title>Metodologia</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body
<div id="ventanaMetodologias">
	<h1> Metodología</h1>
	<button value="crearMetodologia"> Crear metodología > </button>
	<button value="aplicarMetodologia"> Aplicar metodología > </button>
	<button value="atras" onclick="volverAlInicio('ventanaMetodologias')"> Atrás </button>
</div>
</body>
</html>