<!DOCTYPE html>
<html>
<head>
	<title>Resultado Indicador</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
	<link rel="stylesheet"  href="style.css">
</head>
<body>
	
<div id="resultadoIndicador">
	<h1 id="encabezados" div class="p-3 mb-2 bg-dark text-white"> RESULTADO INDICADOR </h1>

		<h2>Empresa {{empresa.nombreEmpresa}}</h2>
		<h2>Periodo {{periodo}}</h2>
		<h2>Indicador {{indicador.nombreIndicador}}</h2>
		<h2>Resultado {{resultado}}</h2>
		
		
			<br>
	<form role="form" action="/inicio/indicador" method="POST">
	<button type="submit" class="btn btn-danger"> << Atrás </button>
	</form>
</div>
</body>
</html>