<!DOCTYPE html>
<html>
<head>
	<title>Resultado Indicador</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
	<link rel="stylesheet"  href="style.css">
</head>
<body>
<div id="resultadoMetodologia">
	<h1 id="encabezados" div class="p-3 mb-2 bg-dark text-white"> RESULTADO METODOLOGiA </h1>
		
		
		<div class="table-responsive">
	<table class="table">
		<tr>
			<th>Empresa</th>		
		</tr>
		{{#each resultado}}
		<tr>
			<td>{{nombreEmpresa}}</td>		
		</tr>
		{{/each}}
	</table>
	</div>
		
	<br>
	<form role="form" action="/inicio/metodologia/{{usuario}}" method="POST">
	<button type="submit" class="btn btn-danger"> << Atras </button>
	</form>
</div>

</body>
</html>