<!DOCTYPE html>
<html>
<head>
	<title>Resultado Indicador</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
	<link rel="stylesheet"  href="style.css">
</head>
<body>
	
		
		
		<div class="table-responsive">
	<table class="table">
		<tr>
			<th>Empresa</th>		
		</tr>
		{{#each resultado}}
		<tr>
			<td>{{nombreEmpresa}}</td>		
		</tr>
		{{/each}}
	</table>
	</div>
		
		
		
		
		<button class="btn btn-primary" type="submit"> Atras</button>

</body>
</html>